<div id="<%= dom_id adventure %>">
  <p>
    <strong>Title:</strong>
    <%= adventure.title %>
  </p>

  <p>
    <strong>Ruleset:</strong>
    <%= adventure.ruleset %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= adventure.description %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= adventure.status %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= adventure.type %>
  </p>

  <p>
    <strong>Setting:</strong>
    <%= adventure.setting %>
  </p>

  <p>
    <strong>Player:</strong>
    <%= adventure.player_id %>
  </p>

</div>
