<div id="<%= dom_id character %>">
  <p>
    <strong>Name:</strong>
    <%= character.name %>
  </p>

  <p>
    <strong>Race:</strong>
    <%= character.race %>
  </p>

  <p>
    <strong>Char class:</strong>
    <%= character.char_class %>
  </p>

  <p>
    <strong>Alignment:</strong>
    <%= character.alignment %>
  </p>

  <p>
    <strong>Level:</strong>
    <%= character.level %>
  </p>

  <p>
    <strong>Background:</strong>
    <%= character.background %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= character.gender %>
  </p>

  <p>
    <strong>Bio:</strong>
    <%= character.bio %>
  </p>

  <p>
    <strong>Player:</strong>
    <%= character.player_id %>
  </p>

</div>
